In [1]:
import pymysql
import pandas as pd

In [3]:
_db = pymysql.connect(
    user = 'root',
    password = '0789',
    host = 'localhost',
    db = 'ubion',
    #charset = 'utf8'
)   # 클래스 안에 값 입력

In [4]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [8]:
sql = "select*from user_info"

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'ID': 'test', 'password': '1234', 'name': '고길동', 'phone': '01012345678', 'ads': '서울시 강북구 쌍문동', 'gender': 1, 'age': 45, 'regit_date': '20220310'}, {'ID': 'test2', 'password': '5678', 'name': '둘리', 'phone': '01098765432', 'ads': '북극 어딘가', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'test3', 'password': '8513', 'name': '마이콜', 'phone': '01045678765', 'ads': '고길동 옆 집', 'gender': 1, 'age': 28, 'regit_date': '20220310'}, {'ID': 'test4', 'password': '9809', 'name': '또치', 'phone': '01029384756', 'ads': '동물원', 'gender': 2, 'age': 4, 'regit_date': '20220310'}, {'ID': 'test5', 'password': '9999', 'name': '도우너', 'phone': '01087653456', 'ads': '깐따삐아', 'gender': 1, 'age': 10, 'regit_date': '20220310'}]

In [9]:
dt = pd.DataFrame(result)
dt

      ID password name        phone          ads  gender  age regit_date
0   test     1234  고길동  01012345678  서울시 강북구 쌍문동       1   45   20220310
1  test2     5678   둘리  01098765432       북극 어딘가       1   10   20220310
2  test3     8513  마이콜  01045678765      고길동 옆 집       1   28   20220310
3  test4     9809   또치  01029384756          동물원       2    4   20220310
4  test5     9999  도우너  01087653456         깐따삐아       1   10   20220310

In [7]:
#내용 길어지면 '''''' / """""" // 컬럼 나열 할 때는 컬럼마다 줄바꿈 해주기 
update_sql = '''
                UPDATE user_info 
                SET phone = "01087653456"
                WHERE name = "도우너"
             '''
cursor.execute(update_sql)
_db.commit()     

#셀렉트문 다시 실행하면 내용 업데이트 됨

In [ ]:
#delete_sql = '''
            #DELETE FROM user_info
            #WHERE ~~~
            # '''