In [1]:
import pymysql  #sql 불러오는 라이브러리 /python에서 sql문법을 사용해 데이터베이스를 다루는 방법

In [3]:
#데이터베이스 접속 #close 하고 다시 실행 
sample_db = pymysql.connect(
    user = "root", #내PC는 root 임
    passwd = "0789",  # sql 비밀번호 입력 
    host = "localhost",  # 내PC/ 127.0.0.1 해도 됨
    db = "ubion", #연결할 데이터베이스
    charset = "utf8" #한글이 깨지지 않도록 설정하는 옵션

)

In [50]:
#cursor 생성 #close 하고 다시 실행해야함
cursor = sample_db.cursor(pymysql.cursors.DictCursor)  #cursor 객체를 사용해 mysql다룸

In [52]:
sql = "SELECT * FROM base1"

cursor.execute(sql) #sql문 실행
result = cursor.fetchall()  #결과 값 받아옴
print(result)

[{'post_id': 'test', 'password': '1000'}, {'post_id': 'test3', 'password': '6496'}, {'post_id': 'test4', 'password': '0789'}]

In [ ]:
#INSERT
sql = "INSERT INTO base1 values('test2', '1234')"

cursor.execute(sql)

# 한 번 만 실행하면 완료. 여러번 실행할 경우 에러뜸=> primary key이기 때문에 이미 값이 입력 됐음

In [34]:
#DELETE
sql = "delete from base1 where post_id='test2'"
cursor.execute(sql)

1

In [36]:
#UPDATE
sql = "update base1 set password='1000' where post_id='test'"
cursor.execute(sql)

()

In [37]:
sql="select*from base1"

cursor.execute(sql)
result = cursor.fetchall()  #결과 값 받아옴
print(result)

[{'post_id': 'test', 'password': '1000'}]

In [38]:
 #workbench에 표시됨 => sample_db 종료 시켜줌 
sample_db.commit() # 실행 결과 확정
sample_db.close()  # 연결 해제

In [46]:
sql_3= "insert into base1 values('test3','6496')"
cursor.execute(sql_3)

1

In [47]:
sql_4 = "insert into base1 values('test4','0789')"
cursor.execute(sql_4)

1

In [48]:
sample_db.commit()
sample_db.close()

In [53]:
select_sql = "select * from base1 order by post_id desc"  #group by 역순배열
cursor.execute(select_sql)
result=cursor.fetchall()
print(result)

[{'post_id': 'test4', 'password': '0789'}, {'post_id': 'test3', 'password': '6496'}, {'post_id': 'test', 'password': '1000'}]

In [54]:
select_sql = "select * from base2 order by post_id desc"  #base2 No 역순으로 
cursor.execute(select_sql)
result=cursor.fetchall()
print(result)

[{'No': 3, 'post_id': 'test5', 'phone': '01012345678'}, {'No': 2, 'post_id': 'test2', 'phone': '000'}, {'No': 1, 'post_id': 'test', 'phone': '000'}]

In [55]:
select_sql = "select * from base2 order by post_id "  
cursor.execute(select_sql)
result=cursor.fetchall()
print(result)

[{'No': 1, 'post_id': 'test', 'phone': '000'}, {'No': 2, 'post_id': 'test2', 'phone': '000'}, {'No': 3, 'post_id': 'test5', 'phone': '01012345678'}]

In [65]:
#inner join (=join) , left join
select_sql = "select base1.post_id, base1.password, base2.phone from base1 join base2 on base1.post_id = base2.post_id"
cursor.execute(select_sql)
result=cursor.fetchall()
print(result)

[{'post_id': 'test', 'password': '1000', 'phone': '000'}]

In [62]:
select_sql = '''SELECT password, COUNT(password) as cnt FROM base1 GROUP BY password'''
cursor.execute(select_sql)
result = cursor.fetchall()
print(result)

[{'password': '1000', 'cnt': 1}, {'password': '6496', 'cnt': 1}, {'password': '0789', 'cnt': 1}]

In [66]:
sample_db.commit()
sample_db.close()