In [3]:
import pymysql

In [4]:
sample_db = pymysql.connect(
    user = "root", #내PC는 root 임
    passwd = "0789",  # sql 비밀번호 입력 
    host = "localhost",  # 내PC/ 127.0.0.1 해도 됨
    db = "ubion", #연결할 데이터베이스
    charset = "utf8" #한글이 깨지지 않도록 설정하는 옵션
)

In [33]:
cursor = sample_db.cursor(pymysql.cursors.DictCursor)

In [34]:
sql_create = "create table base3 (No int(32) auto_increment, post_id varchar(32),primary key(No,post_id), password varchar(32) not null)"  #파이썬으로 테이블 만들기 
cursor.execute(sql_create)

0

In [13]:
sample_db.commit()
sample_db.close()

In [35]:
sql_insert= "insert into base3(post_id, password) values('sol','0789')"
cursor.execute(sql_insert)

1

In [24]:
#sql_alter= "alter table base3 auto_increment=1"
#cursor.execute(sql_alter)

0

In [36]:
sql_insert2= "insert into base3(post_id, password) values('cero','6496'),('sun','3126'),('young','9994')"
cursor.execute(sql_insert2)

3

In [29]:
sql_select = "select*from base3"
cursor.execute(sql_select)
result=cursor.fetchall()
print(result)

[{'No': 1, 'post_id': 'sol', 'password': '0789'}, {'No': 2, 'post_id': 'sol', 'password': '0789'}, {'No': 3, 'post_id': 'cero', 'password': '6496'}, {'No': 4, 'post_id': 'sun', 'password': '3126'}, {'No': 5, 'post_id': 'young', 'password': '9994'}]

In [37]:
sample_db.commit()
sample_db.close()