In [1]:
import FinanceDataReader as fdr
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pmdarima.arima import ndiffs
import pmdarima as pm

In [31]:
ksp = fdr.StockListing('KOSPI')
ksp.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [27]:
ksq = fdr.StockListing('KOSDAQ')
ksq.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
53,032790,KOSDAQ,BNGT,기계장비 및 관련 물품 도매업,"Bio 이종장기 사업, ICT 프린터 현상기",1997-06-26,12월,조상환,http://www.mgenplus.com,서울특별시

In [29]:
ksq.isna().sum()

Symbol              0
Market              0
Name                0
Sector             19
Industry           23
ListingDate        19
SettleMonth        19
Representative     19
HomePage          138
Region             19
dtype: int64

In [30]:
len(ksq)

1570

In [14]:
len(ksp)

6032

In [46]:
ksp.dropna(axis=0,subset='Sector',inplace=True)   # 파생 지우기 
ksp.reset_index(drop=True,inplace=True)

In [48]:
ksq.dropna(axis=0,subset='Sector',inplace=True)   # 파생 지우기 
ksq.reset_index(drop=True,inplace=True)

In [47]:
ksp_symbol = ksp.Symbol
ksp_symbol

0      095570
1      006840
2      027410
3      282330
4      138930
        ...
815    005870
816    079980
817    005010
818    000540
819    003280
Name: Symbol, Length: 820, dtype: object

In [49]:
ksq_symbol = ksq.Symbol
ksq_symbol

0       060310
1       054620
2       265520
3       211270
4       032790
         ...
1546    024060
1547    010240
1548    189980
1549    037440
1550    238490
Name: Symbol, Length: 1551, dtype: object

In [ ]:
for symbol in ksq_symbol: