In [23]:
import pandas as pd

In [11]:
df= pd.read_csv('./diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [26]:
df[['Outcome']]

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [14]:
x = df[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
        'BMI', 'DiabetesPedigreeFunction', 'Age']]
y = df[['Outcome']]

'''범위지정 다른 방법
df_data = df.iloc[:, 0:-1]
df_label = df.iloc[:, -1:]'''

X_train, X_test,y_train, y_test = train_test_split(x,y,test_size=0.2)
dtree = DecisionTreeClassifier()

In [20]:
parameters = {'max_depth':[5,6,7], 'min_samples_split':[2,3]}
grid_dtree = GridSearchCV(dtree, param_grid=parameters, cv = 3, refit=True)

grid_dtree.fit(X_train, y_train)

scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params','mean_test_score','rank_test_score','split0_test_score','split1_test_score','split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 5, 'min_samples_split': 2}",0.723123,1,0.731707,0.717073,0.720588
1,"{'max_depth': 5, 'min_samples_split': 3}",0.714985,2,0.736585,0.692683,0.715686
2,"{'max_depth': 6, 'min_samples_split': 2}",0.703531,3,0.731707,0.707317,0.671569
3,"{'max_depth': 6, 'min_samples_split': 3}",0.695385,4,0.721951,0.702439,0.661765
4,"{'max_depth': 7, 'min_samples_split': 2}",0.693799,5,0.712195,0.682927,0.686275
5,"{'max_depth': 7, 'min_samples_split': 3}",0.688913,6,0.712195,0.673171,0.681373

In [21]:
print(f'GridSearchCV 최적 파라미터: {grid_dtree.best_params_} \nGridSearchCV 최고 정확도: {grid_dtree.best_score_ :.4f}')

GridSearchCV 최적 파라미터: {'max_depth': 5, 'min_samples_split': 2}
GridSearchCV 최고 정확도: 0.7231

In [22]:
estimator = grid_dtree.best_estimator_
pred = estimator.predict(X_test)
print(f'테스트 데이트 세트 정확도:{accuracy_score(y_test,pred):.4f}')

테스트 데이트 세트 정확도:0.7208