In [10]:
from pykrx import stock
import time

In [11]:
import pandas as pd

In [12]:
hc = ["137310","214150","085370","145720","290650"]  #헬스케어
bio = ["145720","068270","302440","091990","000100"]   #제약
tr = ["035250","008770","034230","032350","039130"] #여행
flight = ["003490","180640","020560","089590","272450"]     #항공
express = ["000120","086280","002320","004360","004140"] #운송화물
makeup= ["051900","090430","048410","002790","161890"] #화장품

In [13]:
df_makeup_tt = pd.DataFrame()
for code in makeup:
    df = stock.get_market_cap("20200310", "20220228", code)['시가총액']
    
    df_makeup_tt = pd.concat([df_makeup_tt, df],axis=1)
    df_makeup_tt.rename(columns={'시가총액':f'{code}시가총액'},inplace=True)
    time.sleep(1)

df_makeup_tt['Sum'] = df_makeup_tt.sum(axis=1)
df_makeup_tt['index'] = (df_makeup_tt['Sum']/df_makeup_tt['Sum'].iloc[0]) *100
df_makeup_tt

In [42]:
df_travel_tt = pd.DataFrame()
for code in tr:
    df = stock.get_market_cap("20200310", "20220228", code)['시가총액']
    
    df_travel_tt = pd.concat([df_travel_tt, df],axis=1)
    df_travel_tt.rename(columns={'시가총액':f'{code}시가총액'},inplace=True)
    time.sleep(1)

df_travel_tt['Sum'] = df_travel_tt.sum(axis=1)
df_travel_tt['index'] = (df_travel_tt['Sum']/df_travel_tt['Sum'].iloc[0]) *100
    
df_travel_tt

,035250시가총액,008770시가총액,034230시가총액,032350시가총액,039130시가총액,Sum,index
2020-03-10,5006207700000,3316466224500,1441441351200,762032282000,522728325000,11048875882700,100.000000
2020-03-11,4931328525000,3218345922000,1400517148800,734322017200,507627284500,10792140897500,97.676370
2020-03-12,4717388025000,3100601559000,1300480209600,717003101700,513435377000,10348908272300,93.664807
2020-03-13,4546235625000,2947533887100,1204990404000,662275328720,576385299750,9937420544570,89.940557
2020-03-16,4471356450000,2770917342600,1164066201600,659504302240,545022133500,9610866429940,86.985016
...,...,...,...,...,...,...,...
2022-02-22,5605241100000,3190872237300,1541478290400,1236570566700,1080286837500,12654449031900,114.531552
2022-02-23,5573150025000,3198721861500,1532384023200,1240034349800,1083074674500,12627364934000,114.286422
2022-02-24,5466179775000,3151624116300,1464177019200,1195005169500,1045438875000,12322424955000,111.526504
2022-02-25,5594544075000,3139849680000,1496006954400,1236570566700,1073317245000,12540288521100,113.498320
2022-02-28,5669423250000,3159473740500,1509648355200,1229643000500,1091438185500,12659626531700,114.578412

In [43]:
df_flight_tt = pd.DataFrame()
for code in flight:
    df = stock.get_market_cap("20200310", "20220228", code)['시가총액']
    
    df_flight_tt = pd.concat([df_flight_tt, df],axis=1)
    df_flight_tt.rename(columns={'시가총액':f'{code}시가총액'},inplace=True)
    time.sleep(1)

df_flight_tt['Sum'] = df_flight_tt.sum(axis=1)
df_flight_tt['index'] = (df_flight_tt['Sum']/df_flight_tt['Sum'].iloc[0]) *100
    
df_flight_tt

,003490시가총액,180640시가총액,020560시가총액,089590시가총액,272450시가총액,Sum,index
2020-03-10,2233591130700,3786909312000,894057352470,552174080100,369000000000,7835731875270,100.000000
2020-03-11,2157715423500,3496974067800,885127940710,529770835800,363000000000,7432588267810,94.855061
2020-03-12,2058128557800,3567978617400,827086764270,503414077800,330000000000,7286608017270,92.992054
2020-03-13,1953799460400,3402301335000,781323529000,488917860900,300000000000,6926342185300,88.394324
2020-03-16,1906377143400,3473305884600,785788234880,495507050400,291900000000,6952878313280,88.732979
...,...,...,...,...,...,...,...
2022-02-22,10347669543750,3663976864500,1495676456400,1044953028000,903060000000,17455335892650,222.765865
2022-02-23,10295496420000,3697346417000,1454749986200,1062368911800,892620000000,17402581735000,222.092614
2022-02-24,9982457677500,3590563849000,1387779398600,1017585210600,853470000000,16831856135700,214.808985
2022-02-25,10052021842500,3558375371200,1413823516000,1039977061200,837810000000,16902007790900,215.704264
2022-02-28,10191150172500,3518318612800,1424985280600,1062368911800,869130000000,17065952977700,217.796541

In [44]:
index = pd.DataFrame({'makeup':df_makeup_tt['index'],
                      'travel':df_travel_tt['index'],
                      'flight':df_flight_tt['index']})
index.to_csv('makeup_travel_flight_index.csv')

In [49]:
# 함수로 표현하기 : type에 종목 코드 리스트 입력
def stock_index(type):
    df_total = pd.DataFrame()
    for code in type:        
        df = stock.get_market_cap("20200310", "20220228", code)['시가총액']
        df_total = pd.concat([df_total, df],axis=1)
        df_total.rename(columns={'시가총액':f'{code}시가총액'},inplace=True)
        time.sleep(1)
    df_total['Sum'] = df_total.sum(axis=1)
    df_total['index'] = (df_total['Sum']/df_total['Sum'].iloc[0]) *100
    
    return df_total