In [1]:
#조건문
score = int(input())
print("score:", score)

if score >= 90 :
    print("A")

elif score >= 80 :
    print("B")

elif score >= 70 :
    print("C")

elif score >= 60 :
    print("D")

else:
    print("D")

print("Finish")

score: 55
D
Finish

In [6]:
#반복문

for i in range(0,5,1) :
    print("Let's repeat!")

Let's repeat!
Let's repeat!
Let's repeat!
Let's repeat!
Let's repeat!

In [9]:
for i in range(0,5,1) :
    print("%d time(s)" %i)

0 time(s)
1 time(s)
2 time(s)
3 time(s)
4 time(s)

In [10]:
# 1 부터 10까지 합

sum = 0
for i in range (1, 11):
    sum += i

print(sum)

55

In [13]:
# 다중for문

for i in range(1,5,1):
    for j in range(1,3,1) :
        print("First i=%d, Second j=%d" %(i,j))

First i=1, Second j=1
First i=1, Second j=2
First i=2, Second j=1
First i=2, Second j=2
First i=3, Second j=1
First i=3, Second j=2
First i=4, Second j=1
First i=4, Second j=2

In [3]:
#while 문

sum = 0
i = 1

while i < 11:  #while 뒤의 조건식이 거짓이 되기 전까지 반복
    sum += i   #  반복 실행할 코드
    i += 1   # 변수 = 변수 + 증가값

print(sum)

55

In [18]:
#break 문

for i in range(1,100) :
    print("%d times" %i)
    if i == 5:
        break

1 times
2 times
3 times
4 times
5 times

In [21]:
sum = 0   # 합이 n 이상이 되는 숫자
n = int(input())
print("Below %d" %n)
for i in range(1,100):
    sum += i
    if sum >= n:
        break
print("%d is the number you are looking for" %i)

Below 500
32 is the number you are looking for

In [22]:
#contnue문

for i in range(1,10) :
    if i <= 3:
        continue
print("Stop at %d" %i)

Stop at 9

In [23]:
#튜플

a =(1, 'hello')
b = (3,3.14)
c = (a + b)
d = a*3
e = a

print(a,b,c,d,e)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') (1, 'hello')

In [24]:
a = (1,2,3,4)

print(a[1:3])
print(a[0:])
print(a[:3])

(2, 3)
(1, 2, 3, 4)
(1, 2, 3)

In [25]:
#리스트

a = [1,2,3,4]

print(a)
print(a[0])
print(a[1])
print(a[0:5])

[1, 2, 3, 4]
1
2
[1, 2, 3, 4]

In [ ]:
# 리스트명.append(값): 리스크 가장 뒤에 항목을 추가
# 리스트명.pop(): 리스트 맨 뒤 항목을 삭제
# 리스트명.sort(): 리스트 항목을 오름차순으로 정렬
# 리스트명.reverse(): 리스트 항목을 역순으로 정렬
# 리스트명.index(값): 저장한 값의 위치를 반환
# 리스트명.remove(값):리스트에서 지정한 값 삭제
# 리스트명.extend(추가할리스트):리스트 위에 새로운 리스트 삽입

In [29]:
a = [20,10,40,30]
b = [12,99,24,55]

a.sort()
b.reverse()

print(a,b)

[10, 20, 30, 40] [55, 24, 99, 12]

In [30]:
del a[0]
b.append(22)

print(a,b)

[20, 30, 40] [55, 24, 99, 12, 22]

In [35]:
a = [[1,2],[3,4],[5,6]]
print(a[0])
print(a[1][1])

[1, 2]
4

In [42]:
print(a[1:3])

[[3, 4], [5, 6]]

In [43]:
b=[]
for i in range (0,3,1):
    b.append(a[i][0])

print(b)

[1, 3, 5]

In [45]:
for i in range(0,3,1):
    print(a[i][0])

1
3
5

In [46]:
c =[]
for i in range(0,len(a),2):
    c += a[i]
print(c)

[1, 2, 5, 6]

In [59]:
# 딕셔너리

a = {"name":"test", "age":20, "phone":"01012345678"}
print(a)
print(a["name"])

{'name': 'test', 'age': 20, 'phone': '01012345678'}
test

In [60]:
a["area"] = "Seoul"
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [65]:
print(a.values())
print(a.keys())
print(list(a.keys()))
print(a.items())

dict_values(['test', 20, '01012345678', 'Seoul'])
dict_keys(['name', 'age', 'phone', 'area'])
['name', 'age', 'phone', 'area']
dict_items([('name', 'test'), ('age', 20), ('phone', '01012345678'), ('area', 'Seoul')])

In [67]:
a["age"] = 25
print(a)

{'name': 'test', 'age': 25, 'phone': '01012345678', 'area': 'Seoul'}

In [68]:
del(a["phone"])
print(a)

{'name': 'test', 'age': 25, 'area': 'Seoul'}

In [72]:
#문자열
a = 'Hello'
a_len = len(a)

for i in range(0,a_len):
    print(a[i]+"_",end="")  #end=" " 해주면 일렬로 출력

H_e_l_l_o_

In [76]:
b = "  Hola Sol  "
print(b)
print(b.lstrip())
print(b.rstrip())
print(b.strip())

  Hola Sol
Hola Sol
  Hola Sol
Hola Sol

In [77]:
print(b.replace("Sol","Cero"))

  Hola Cero

In [78]:
print(b.split())

['Hola', 'Sol']

In [79]:
c = "a,b,c,1"
print(c)
print(c.split())

a,b,c,1
['a,b,c,1']

In [4]:
a = (1,2,3,4)
b = [1,2,3,4]
c = {1:'1', 2:'2', 3:'3'}

print(a[1])
print(b[1])
print(c[1])

2
2
1

In [21]:
import pandas as pd

In [59]:
a = [{"name":"                 test                                                  ","age":20 }]
b = pd.DataFrame(a)
print(b["name"])

0                     test                         ...
Name: name, dtype: object

In [30]:
import numpy as np

In [43]:
n_a = np.random.random((10,2))
n_a

array([[0.70362887, 0.29624686],
       [0.63542055, 0.29688319],
       [0.64863765, 0.64372816],
       [0.88402815, 0.04661856],
       [0.13009644, 0.93865292],
       [0.15908526, 0.48271713],
       [0.44780039, 0.75992639],
       [0.54352283, 0.28684418],
       [0.89090271, 0.27363387],
       [0.71759336, 0.2362205 ]])

In [40]:
for i in range(len(n_a)):
    if n_a[i][1] > 0.5:
        n_a[i][1] = 1

    else:
        n_a[i][1] = 0
n_a

array([[0.5202934 , 0.        ],
       [0.23847225, 0.        ],
       [0.86597422, 1.        ],
       [0.21814988, 0.        ],
       [0.93083058, 0.        ],
       [0.67277821, 0.        ],
       [0.94973432, 0.        ],
       [0.66298542, 0.        ],
       [0.3387561 , 0.        ],
       [0.54567975, 1.        ]])

In [41]:
import pandas as pd

In [45]:
dt = pd.DataFrame(n_a)
dt

          0         1
0  0.703629  0.296247
1  0.635421  0.296883
2  0.648638  0.643728
3  0.884028  0.046619
4  0.130096  0.938653
5  0.159085  0.482717
6  0.447800  0.759926
7  0.543523  0.286844
8  0.890903  0.273634
9  0.717593  0.236221

In [52]:
dt[1].round(0)  #반올림 조건이니까

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
5    0.0
6    1.0
7    0.0
8    0.0
9    0.0
Name: 1, dtype: float64

In [53]:
#apply(lambda, def)

dt[1].apply(lambda x : 1 if(x>0.5) else 0)

0    0
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    0
9    0
Name: 1, dtype: int64

In [55]:
def _round(x):
    if x > 0.5:
        return 1

    else:
        return 0

dt[1].apply(_round)

0    0
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    0
9    0
Name: 1, dtype: int64